<% if @user && @user.errors.any? %>
    <div class="errors">
        <p><%= @user.errors.count %> errors prohibited this user from being saved:</p>
        <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>