<h1>Choose the game scale !</h1>
<ul>
    <li class="game-list">
        <a href="/game/1">SCALE 1: <%= @title[0] %><span class="jp"> (太陽系)<span></a>
    </li>
    <li class="game-list">
        <a href="/game/2">SCALE 2: <%= @title[1] %><span class="jp"> (星座)<span></a>
    </li>
    <li class="game-list">
        <a href="/game/3">SCALE 3: <%= @title[2] %><span class="jp"> (星雲・銀河)<span></a>
    </li>
</ul>