<h1>Login</h1>
<%= erb :error %>
<form class="form login" action="/user/login" method="POST">
    <input id="input_name" type="text" name="name" placeholder="Name" required><br>
    <input id="input_pass" type="password" name="password" placeholder="Password" required><br>
    <input id="btn" type="submit" value="Login">
</form>