<h1>Space Typing</h1>
<ul class="slider">
    <li><img src="img/carina_nebula.png"></li>
    <li><img src="img/crab_nebula.png"></li>
    <li><img src="img/deep_field.png"></li>
    <li><img src="img/pillars_of_creation.png"></li>
    <li><img src="img/pleiades.png"></li>
    <li><img src="img/southern_ring_nebula.png"></li>
</ul>